<div class="actions">
  <button class="button" (click)="openAddItemDialog()">➕ Add product</button>
  <button
    class="button"
    (click)="resetShipment()"
    *ngIf="shipmentMode$ | async"
  >
    🧻 Reset shipment
  </button>
  <button
    class="button"
    (click)="completeShipment()"
    *ngIf="shipmentMode$ | async"
  >
    🚚 Complete shipment
  </button>
</div>
<div class="items-list">
  <app-list-item
    *ngFor="let item of items$ | async"
    [item]="item"
    [shipmentQuantity]="(shipmentQuantityById$ | async)?.[item.id]"
    (removeItem)="removeProduct(item.id)"
    (editItem)="openEditItemDialog(item)"
    (addToShipment)="addItemToShipment(item.id)"
    (removeFromShipment)="removeItemFromShipment(item.id)"
  >
  </app-list-item>
</div>
