<div class="list-item">
  <div class="list-item--image">
    <img [src]="item.imageUrl" alt="warehouse-item-image" />
  </div>
  <div class="list-item--content">
    <span
      ><b>{{ item.name }}</b></span
    >
    <span>{{ item.description }}</span>
  </div>
  <span>{{ item.quantity }}x</span>
  <span>{{ item.price | currency: "EUR" }}</span>
  <ng-container *ngIf="(shipmentQuantity || 0) > 0; else elseBlock">
    <button class="list-item--button" (click)="addToShipment.emit()">➕</button>
    <span>{{ shipmentQuantity }}x</span>
    <button class="list-item--button" (click)="removeFromShipment.emit()">
      ➖
    </button>
  </ng-container>
  <ng-template #elseBlock>
    <button class="list-item--button" (click)="addToShipment.emit()">
      Add to Shipment
    </button>
    <button class="list-item--button" (click)="editItem.emit()">✏️</button>
    <button class="list-item--button" (click)="removeItem.emit()">🗑️</button>
  </ng-template>
</div>
